*{
    padding: 0;
    margin: 0;
}

body, span {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

h1 {
    font-family: 'Abril Fatface', cursive;
}

h2, h3{
    font-family: 'Abril Fatface', cursive;
    color: #fff;
}

hr {
    border: 0.5px solid #ccc;
}

.navbar {
    margin-bottom: 0px;
}

.padding {
    padding: 5px;
    padding-left: 30px;
}

.linkedinbutton{
    background-color:#0e76a8;
    color:#fff;
}